<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dailyrss.workflow</string>
	<key>connections</key>
	<dict>
		<key>A6D9EB7F-2CEE-4296-94E3-428DC1837FD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D81941B4-018B-4A3D-A713-4B2A4FB72C29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5FD0631B-781B-4CCB-8524-CF4255BCE32F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>866DE891-725F-46A8-A1F8-44080E4BD997</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2F1954B-DCF3-4315-A5A1-3C3FD0E28D9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6D9EB7F-2CEE-4296-94E3-428DC1837FD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikochann</string>
	<key>description</key>
	<string>Quickly browse the content of subscribed RSS feeds</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Daily RSS Feed Reader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/TextEdit.app</string>
				<key>sourcefile</key>
				<string>config.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D81941B4-018B-4A3D-A713-4B2A4FB72C29</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rss</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Input "rss help" for more info</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D244006-CFD7-4BF8-BD58-E73CEBACEAA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>5FD0631B-781B-4CCB-8524-CF4255BCE32F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A6D9EB7F-2CEE-4296-94E3-428DC1837FD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>124</integer>
				<key>keyword</key>
				<string>rss</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Waiting...</string>
				<key>script</key>
				<string>python2 main.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Daily RSS Reader</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2F1954B-DCF3-4315-A5A1-3C3FD0E28D9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>866DE891-725F-46A8-A1F8-44080E4BD997</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D244006-CFD7-4BF8-BD58-E73CEBACEAA8</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>866DE891-725F-46A8-A1F8-44080E4BD997</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>A6D9EB7F-2CEE-4296-94E3-428DC1837FD6</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>D81941B4-018B-4A3D-A713-4B2A4FB72C29</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>F2F1954B-DCF3-4315-A5A1-3C3FD0E28D9C</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>www.nikopang.com</string>
</dict>
</plist>
